html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.label-container {
    margin-top:5%;
    width:80%;
    height:auto;
    font-size:large;
}
.label-outline-left {
    flex: auto;
    display: inline-block;
    margin-left: 20%;
    margin-right: auto;
}
.label-outline-right {
    flex: auto;
    display: inline-block;
    border: outset;
    border-color: grey;
    border-radius: 10px;
    background-color: lightgray;
    float: right;
    margin-left: auto;
    margin-right: 10%;
    width: 220px;
    height:fit-content;
    margin-top: 10%;
}
.container-fluid {
    background-color:midnightblue;
    border-style:outset;
    border-color:goldenrod;


}
.navbar-brand {
    background-color: goldenrod;
    color:midnightblue;
    border-style:outset;
    border-color:midnightblue;
    border-radius:5px;
    margin-right:1%;
    padding-left:2%;
    padding-right: 2%;
}
.nav-item {
    background-color: goldenrod;
    color: midnightblue;
    border-style: outset;
    border-radius:5px;
    border-color: midnightblue;
    margin-left:1%;
}
