@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>  
    <div class="label-container">
        <div class="label-outline-left">

            <label>Part Number:</label> <br />
            <input type="text" id="PartNum" placeholder="Enter Part Number" autofocus/><br />
            <br />

            <label>Location</label> <br />
            <input type="text" placeholder = "Enter or Edit Location" id="Loc" /><br />
            <br />
            <label>FIFO:</label> <br />
            <input type="text" placeholder="Enter FIFO Date" id="FIFO" /><br />
            <br />

            <label>Labels:</label> <br />
            <input type="text" placeholder="Enter Label QTY" id="QTYLbl" /><br />

            <br />
            <input type="submit" id="PrintLabel" value="Print Label(s)" />
        </div>

        <div class="label-outline-right">
            <label id="lblPartNum"> Part Number </label> <br />
            <label id="lblDesc"> Description </label> <br />
            <label id="lblLocation"> Warehouse Location </label> <br /> 
            <label id="lblFIFO"> FIFO Date </label> <br />
        </div>
    </div>
</body>