@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>  
    <div class="label-container">
        <div class="label-outline-left">
            <label>Enter Part Number:</label> <br />
            <input type="text" id="PartNum" /><br />

            <label>Enter FIFO Date:</label> <br />
            <input type="text" id="FIFO" /><br />

            <label>Enter Quantity of Labels:</label> <br />
            <input type="text" id="QTYLbl" /><br />
        </div>
        <div class="label-outline-right">
            <label> PN </label>
            <label> Desc </label>
            <label> FIFO </label>
            <label> Loc </label>
        </div>
    </div>
</body>