@{
    ViewData["Title"] = "Parts and Info";
}
@model IEnumerable<PartModel>
<h1>@ViewData["Title"]</h1>

<body>
    <div class="label-container">
        <div class="data-entry-left">
            <div class="label-entry">
                <label>Part Number:</label> <br />
                <input type="text" id="PartNum" placeholder="Enter Part Number" autofocus /><br />
                <br />
            </div>

        </div>
        <div class="data-table">
            <table class="part-table">
                <thead>
                    <tr>
                        <th style="margin:1px;">Material</th>
                        <th style="margin:1px;">Description</th>
                        <th style="margin:1px;">Bin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in Model)
                        {
                            <td>@item.Material</td>
                            <td>@item.Material_description</td>
                            <td>@item.Bin</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>