@{
    ViewData["Title"] = "Parts and Info";
}
<h1>@ViewData["Title"]</h1>

<body>
    <div class="label-container">
        <div class="label-outline-left">

            <label>Part Number:</label> <br />
            <input type="text" id="PartNum" placeholder="Enter Part Number" autofocus /><br />
            <br />

        </div>
        <div class="label-outline-right">
            <table class="part-table">
                <thead>
                    <tr>
                        <th style="margin:1px;">Material</th>
                        <th style="margin:1px;">Description</th>
                        <th style="margin:1px;">Bin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Material</td>
                        <td>Description</td>
                        <td>Bin</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>