@*

*@
@{
    ViewData["Title"] = "Label Printer";
}

@model IEnumerable<PartModel>; 
<script src="site.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>

</div>

<body>
    <div class="label-container">
        <div class="label-outline-left">
            <div class="label-entry">
                <label>Part Number:</label> <br />
                <input action="/ParController/PrintLabel" formmethod="post" type="text" id="partNum" name="partNum" placeholder="Enter Part Number" autofocus /><br />
                <br />

                <label>Location</label> <br />
                <input type="text" placeholder="Enter or Edit Location" id="Loc" /><br />
                <br />
                <label>FIFO:</label> <br />
                <input type="text" placeholder="Enter FIFO Date" id="FIFO" /><br />
                <br />

                <label>Labels:</label> <br />
                <input type="text" placeholder="Enter Label QTY" id="QTYLbl" /><br />

                <br />
                <input type="submit" id="PrintLabel" value="Print Label(s)" />
            </div>
        </div>


    


        <div class="label-outline-right">
            <div class="label">

              @foreach (var item in Model) 
              {
                    <label id="lblPartNum"> @item.Material </label> <br />
                    <label id="lblDesc"> @item.Material_description </label>  <br />
                    <label id="lblLocation"> @item.Bin </label> <br />
                    <label id="lblFIFO">  </label> <br />
              }
            </div>
        </div>
    </div>
</body>